
extends layout.pug
include components

mixin userCard(user)
    .card.mb-3(style="max-width: 540px;")
        .row.no-gutters
            .col-md-4
                img.card-img(src=user.avatar alt="...")
            .col-md-8
                .card-body
                    h5.card-title=user.nickname
                    p.card-text=user.name
                    p.card-text=user.introduce
                    p.card-text
                        small.text-muted=dayFormat(user.last_updated)


block head
  script(src="/web/js/spotlight.bundle.js")


    
block content
    h2.mt-2=title
    each post in postList
        +PostCard(post)
    a.btn.btn-primary.btn-lg.btn-block(href=`/?page=${randomPage}`) 刷新
    div(style="height:100px;")
block right
